@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* Font Family */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;

  /* Font Weight */
  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Text Presets */
  --text-preset-1: italic var(--fw-semibold) 6rem/1 var(--font-primary);
  --text-preset-2: var(--fw-bold) 3.25rem/1.2 var(--font-secondary);
  --text-preset-3: var(--fw-light) 2rem/1 var(--font-primary);
  --text-preset-4: var(--fw-bold) 1.75rem/1.2 var(--font-primary);
  --text-preset-5: var(--fw-semibold) 1.25rem/1.2 var(--font-primary);
  --text-preset-5-medium: var(--fw-medium) 1.25rem/1.2 var(--font-primary);
  --text-preset-6: var(--fw-medium) 1.125rem/1.2 var(--font-primary);
  --text-preset-7: var(--fw-medium) 1rem/1.2 var(--font-primary);
  --text-preset-8: var(--fw-medium) 0.875rem/1.2 var(--font-primary);

  --letter-spacing-preset-1: -0.125rem;

  /* Colors */
  --neutral-900: #02012c;
  --neutral-800: #262540;
  --neutral-700: #302f4a;
  --neutral-600: #3c3b5e;
  --neutral-300: #acacb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;

  --orange-500: #ff820a;

  --blue-500: #4858d9;
  --blue-700: #2b1b9c;

  /* Spacing */
  --spacing-0: 0;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-750: 3.75rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1400: 7rem;
  --spacing-1600: 8rem;
  --spacing-1800: 8.75rem;

  /* Radius */
  --radius-0: 0;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-full: 999px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--neutral-900);
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-600);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

/* Header */
.logo {
  width: 138px;
  height: 28px;
}

.logo-units-header {
  display: flex;
  justify-content: space-between;
}

/* Units */
.units-wrapper {
  position: relative;
}

.settings-btn {
  background: var(--neutral-800);
  font: var(--text-preset-8);
  color: var(--neutral-0);

  padding: var(--spacing-100);

  border-radius: var(--radius-6);
  border: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: var(--spacing-075);
}

.units-dropdown {
  background: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);
 
  width: 214px;

  padding: var(--spacing-075) var(--spacing-100);

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-025));

  position: absolute;
  right: 0;
  top: calc(100% + var(--spacing-125));

  z-index: 999;
}

.units-container {
  display: flex;
  flex-direction: column;
}

.units-container:nth-child(3)::before {
  content: "";
  background: var(--neutral-600);
  width: 100%;
  height: 1px;
}

.units-container:nth-child(3)::after {
  content: "";
  background: var(--neutral-600);
  width: 100%;
  height: 1px;
}

.unit-title {
  font: var(--text-preset-8);
  color: var(--neutral-300);

  padding: var(--spacing-075) var(--spacing-100) 0 var(--spacing-100);

  margin-bottom: var(--spacing-100);
}

.unit {
  font: var(--text-preset-7);
  color: var(--neutral-0);

  text-align: left;

  padding: var(--spacing-125) var(--spacing-100);

  background: none;
  border: none;

  cursor: pointer;
}

.unit.active {
  background: var(--neutral-700);
  border-radius: var(--spacing-100);

  display: flex;
  justify-content: space-between;
}

.check-img {
  display: none;
}

.check-img.active {
  display: block;
}


/* Title */
.title {
  font: var(--text-preset-2);
  color: var(--neutral-0);
  text-align: center;
}

/* Main */
.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

/* Search */
.search-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.input-wrapper {
  position: relative;
}

#search-input {
  background: var(--neutral-800);
  border: none;
  border-radius: var(--radius-12);

  width: 100%;
  padding: var(--spacing-200) var(--spacing-300);
  padding-left: var(--spacing-600);

  font: var(--text-preset-5-medium);
  color: var(--neutral-200);
}

#search-input::placeholder {
  font: var(--text-preset-5-medium);
  color: var(--neutral-200);

  text-align: left;
}

.input-btn {
  background: none;
  border: none;

  position: absolute;

  left: 1rem;
  top: 50%;

  transform: translateY(-50%);
}

.search-btn {
  font: var(--text-preset-5-medium);
  color: var(--neutral-0);

  background-color: var(--blue-500);
  border: none;
  border-radius: var(--radius-12);

  padding: var(--spacing-200) var(--spacing-300);
}

/* Input Dropdown */
.input-dropdown {
  background: var(--neutral-800);
  border: 1px solid var(--neutral-700);
  border-radius: var(--radius-12);

  padding: var(--spacing-100);
  width: 100%;

  margin-top: var(--spacing-125);
  position: absolute;

  z-index: 999;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}

.city-option {
  font: var(--text-preset-7);
  color: var(--neutral-0);
  text-align: left;

  padding: var(--spacing-100) var(--spacing-125);

  list-style: none;
}

.city-option:hover {
  background: var(--neutral-700);
  border: 1px solid var(--spacing-600);
  border-radius: var(--radius-8);
}

/* Input - Not Found */
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results-message {
  font: var(--text-preset-4);
  color: var(--neutral-0);
}

/* Content Container - Left & Hourly Container */

.content-container {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-400);
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

/* Left - Weather */

.weather-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.weather-info {
  background-image: url("./assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;

  border-radius: var(--radius-20);
  padding: var(--spacing-500) var(--spacing-300);
}

.location-info {
   text-align: center;

   display: flex;
   flex-direction: column;
   gap: var(--spacing-150);
}

.location {
  font: var(--text-preset-4);
  color: var(--neutral-0);
}

.date {
  font: var(--text-preset-6);
  color: var(--neutral-0);
  opacity: 0.8;
}

.temperature-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--spacing-250);
}

.temperature-icon {
  width: 120px;
  height: 120px;
}

.temperature {
  font: var(--text-preset-1);
  color: var(--neutral-0);
}

/* Left - Weather Details */

.weather-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing-200);
}

.weather-details {
  background: var(--neutral-800);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);

  padding: var(--spacing-300);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);
}

.weather-label {
  font: var(--text-preset-6);
  color: var(--neutral-200);
}

.weather-value {
  font: var(--text-preset-3);
  color: var(--neutral-0);
}

/* Left - Daily */

.daily-forecast-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.daily-list {
  list-style: none;

  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: var(--spacing-200);
}

.daily-title {
  font: var(--text-preset-5);
  color: var(--neutral-0);
}

.daily-forecast {

}

.day {
  background: var(--neutral-800);

  padding: var(--spacing-125) var(--spacing-200);
  border-radius: var(--radius-12);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.week-day {
  font: var(--text-preset-6);
  color: var(--neutral-0);
}

.weather-icon {
  width: var(--spacing-750);
  height: var(--spacing-750);
}

.temperature-range {
  font: var(--text-preset-7);

  display: flex;
  justify-content: space-between;
  align-self: stretch; /* Important to learn */
}

.max {
  color: var(--neutral-0);
}

.min {
  color: var(--neutral-200);
}

/* Hourly forecast */
.hourly-forecast-container {
  background: var(--neutral-800);
  border-radius: var(--radius-20);

  padding: var(--spacing-200) var(--spacing-250);

  max-height: 685px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.hourly-header {
  display: flex;
  gap: var(--spacing-500);
}

.hourly-title {
  font: var(--text-preset-5);
  color: var(--neutral-0);

  display: flex;
  align-items: center;
}

.hourly-day-btn {
  font: var(--text-preset-7);
  color: var(--neutral-0);

  background: var(--neutral-600);
  border: none;
  border-radius: var(--radius-8);

  padding: var(--spacing-100) var(--spacing-200);

  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.hourly-day-btn img {
  width: var(--spacing-150);
  height: var(--spacing-250);
}

/* Dropdown */
.btn-container {
  position: relative;
}

.hourly-days-container {
  background: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);

  padding: var(--spacing-100);
  width: 214px;
  
  position: absolute;
  right: 0;
  top: calc(100% + var(--spacing-125));
}

.weekday-dropdown {

}

.weekday {
  border-radius: var(--radius-8);
  padding: var(--spacing-125) var(--spacing-100);

  list-style-type: none;
}

.weekday:hover {
  background: var(--neutral-700);
}

.weekday-btn {
  font: var(--text-preset-7);
  color: var(--neutral-0);

  cursor: pointer;
  background: none;
  border: none;
}

/* Hour List */
.hourly-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.card {
  background: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  border-radius: var(--radius-8);

  padding: var(--spacing-125) var(--spacing-200)  var(--spacing-125) var(--spacing-150);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-hour-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.icon-hour-wrapper img {
  width: var(--spacing-500);
  height: var(--spacing-500);
}

.hour {
  font: var(--text-preset-5-medium);
  color: var(--neutral-0);
}

.temperature-hour {
  font: var(--text-preset-7);
  color: var(--neutral-0);
}

/* Hide content */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}
